
header{
    

	background-color: #84b4b1;
	color: #fff;
	text-align: center;
	padding: 30px 0 120px;
}

h1{
    

		text-align: center;
		text-transform: uppercase;
		font-size: 65px;
		font-weight: 400;
		letter-spacing: 3px;
		line-height: .8;
		padding-top: 50px;
		font-family: 'Montserrat', sans-serif;
}
		span {
			text-transform: uppercase;
			letter-spacing: 7px;
			font-size: 25px;
			line-height: 1;
}

p{
    

		padding-top: 30px;
}


 .space 
            {   padding: 20px; 
               
                border: double;
                margin: 15px;
                display: inline-block;
                
         
                
            }
        
            .box{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
.space {
    transition: 2s; /* Время эффекта */
   }
   .space:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }

/* Popup */

.overlay {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 10%;
    left: 0;
    z-index: 1000;
    display: none;
}

.popup {
    position: relative;
    width: 100%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    background-color: rgba(3, 3, 3, .8);
    color: #fff;
    opacity: 1;
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}

.left {
    width: 500px;
    height: 610px;
    position: absolute;
    display: flex;
    margin: auto;
    top: 0;
    bottom: 0;
	left: 5%;
	overflow: hidden;
}

.image4 {
  	width: 100%;
	height: 100%;
    margin: 0;
    box-shadow: 0 0 11px black;

    
}

.right {
    overflow: auto;
    width: 60%;
    height: 100%;
    float: right;
}

.info_4 {
    padding-left: 40px;
    font-style: italic;
    font-size: 22px;
}

.pic_name_4 {
    font-weight: 400;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 43px;
    padding-top: 5px;
}

.text_about_4 {
    padding-left: 40px;
    padding-right: 80px;
    margin-top: 22px;
    font-size: 16px;
    font-weight: 100;
	text-align: justify;
}
